{% extends "admin/layout.html.twig" %}

{% block content %}

	{{ form_start(form)}}
	{{ form_row(form.seasonNumber) }}
	{{ form_row(form.publishedAt) }}
	<button type="submit" class="btn btn-secondary">Valider</button>
	{{ form_end(form)}}

{% endblock %}